// breakpoints
size-xs = 1px
size-s = 480px
size-m = 768px
size-l = 1025px
size-xl = 1281px
size-xxl = 1440px

breakpoints = {
  xs: size-xs,
  s: size-s,
  m: size-m,
  l: size-l,
  xl: size-xl,
  xxl: size-xxl
}

// Grids
grids = {
  default: {
    cols: 12,
    gutter: 15px,
    containermaxwidth: 1280px,
    breakpoints: breakpoints
  },
  secondary: {
    cols: 16,
    gutter: 15px,
    containermaxwidth: 1280px,
    breakpoints: breakpoints
  }
}

// Transitions
transition-speed = .3s
transition-ease = ease
